div {
  background-color: moccasin;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#QuestMes {
  color: rgb(114, 179, 76);
  stroke: mintcream;
  text-align: center;
  font-size:4em;
  position: absolute;
  width: 15em;
  text-shadow:
   -1px -1px 0 rgb(238, 234, 14),  
    1px -1px 0 rgb(238, 234, 14),
    -1px 1px 0 rgb(238, 234, 14),
     1px 1px 0 rgb(238, 234, 14);
}